name: Build .deb packages

on:
  workflow_dispatch:
    inputs:

      enable_youpip:
        description: "Build YouPiP"
        type: boolean
        required: true
        default: true

      enable_ytuhd:
        description: "Build YTUHD"
        type: boolean
        required: true
        default: true

      enable_yq:
        description: "Build YouQuality"
        type: boolean
        required: true
        default: true

      enable_ryd:
        description: "Build Return YouTube Dislikes"
        type: boolean
        required: true
        default: true

      enable_demc:
        description: "Build DontEatMyContent"
        type: boolean
        required: true
        default: true

      enable_ytabconfig:
        description: "Build YTABConfig"
        type: boolean
        required: true
        default: true

      enable_ytweaks:
        description: "Build YTweaks"
        type: boolean
        required: true
        default: true

      enable_yticons:
        description: "Build YTIcons"
        type: boolean
        required: true
        default: false

      enable_yougroupsettings:
        description: "Build YouGroupSettings"
        type: boolean
        required: true
        default: true

      tweak_version:
        description: "The version of YTLite to download. Enter the version manually from dayanch96/YTLite/releases or leave default"
        default: "5.2b4"
        required: true
        type: string

      info_note:
        description: "TIP: Learn more about integrations in the README via the link below"
        default: "https://github.com/dayanch96/YTLite#tweak-integration-details"
        type: string
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: 
    runs-on: macos-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Main
        uses: actions/checkout@v4.1.1
        with:
          path: main
          submodules: recursive

      - name: Hide sensitive inputs
        uses: levibostian/action-hide-sensitive-inputs@v1
        with:
          exclude_inputs: enable_demc,enable_ryd,enable_youpip,enable_yq,enable_ytabconfig,enable_ytweaks,enable_yticons,enable_yougroupsettings,enable_ytuhd,info_note,tweak_version

      - name: Install Dependencies
        run: brew install make ldid

      - name: Set PATH environment variable
        run: echo "$(brew --prefix make)/libexec/gnubin" >> $GITHUB_PATH

      - name: Cache Theos
        if: ${{ inputs.enable_youpip || inputs.enable_ytuhd || inputs.enable_yq || inputs.enable_ryd || inputs.enable_demc || inputs.enable_ytabconfig || inputs.enable_ytweaks || inputs.enable_yticons || inputs.enable_yougroupsettings }}
        id: theos
        uses: actions/cache@v4
        env:
          cache-name: theos_cache_67db2ab
        with:
          path: theos/
          key: ${{ env.cache-name }}
          restore-keys: ${{ env.cache-name }}

      - name: Setup Theos
        if: ${{ (inputs.enable_youpip || inputs.enable_ytuhd || inputs.enable_yq || inputs.enable_ryd || inputs.enable_demc || inputs.enable_ytabconfig || inputs.enable_ytweaks || inputs.enable_yticons || inputs.enable_yougroupsettings) && steps.theos.outputs.cache-hit != 'true' }}
        uses: actions/checkout@v4.1.7
        with:
          repository: theos/theos
          ref: 67db2ab8d950910161730de77c322658ea3e6b44
          path: ${{ github.workspace }}/theos
          submodules: recursive

      - name: Download iOS SDK
        if: ${{ (inputs.enable_youpip || inputs.enable_ytuhd || inputs.enable_yq || inputs.enable_ryd || inputs.enable_demc || inputs.enable_ytabconfig || inputs.enable_ytweaks || inputs.enable_yticons || inputs.enable_yougroupsettings) && steps.theos.outputs.cache-hit != 'true' }}
        run: |
          git clone --quiet -n --depth=1 --filter=tree:0 https://github.com/theos/sdks/
          cd sdks
          git sparse-checkout set --no-cone iPhoneOS16.5.sdk
          git checkout
          mv *.sdk $THEOS/sdks
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Download YouTube Plus
        id: download_ytp
        run: |
          deb_url="https://github.com/dayanch96/YTLite/releases/download/v${{ inputs.tweak_version }}/com.dvntm.ytlite_${{ inputs.tweak_version }}_iphoneos-arm.deb"
          wget "$deb_url" --no-verbose -O ${{ github.workspace }}/ytplus.deb

      - name: Clone YouTubeHeader
        if: ${{ inputs.enable_youpip || inputs.enable_ytuhd || inputs.enable_yq || inputs.enable_ryd || inputs.enable_demc || inputs.enable_ytabconfig || inputs.enable_ytweaks || inputs.enable_yticons || inputs.enable_yougroupsettings }}
        run: |
          if [ -d "$THEOS/include/YouTubeHeader" ]; then
            echo "YouTubeHeader exists. Pulling latest changes..."
            cd $THEOS/include/YouTubeHeader
            git pull
          else
            echo "YouTubeHeader does not exist. Cloning repository..."
            cd $THEOS/include
            git clone --quiet --depth=1 https://github.com/PoomSmart/YouTubeHeader.git
          fi

          if [ "${{ inputs.enable_demc }}" = "true" ]; then
            echo "Copying YouTubeHeader to YTHeaders..."
            rm -rf "$THEOS/include/YTHeaders"
            cp -r "$THEOS/include/YouTubeHeader" "$THEOS/include/YTHeaders"
          fi
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Clone PSHeader
        if: ${{ inputs.enable_youpip || inputs.enable_ytuhd || inputs.enable_yq || inputs.enable_ryd || inputs.enable_demc || inputs.enable_ytabconfig || inputs.enable_ytweaks || inputs.enable_yticons || inputs.enable_yougroupsettings }}
        run: |
          if [ -d "$THEOS/include/PSHeader" ]; then
            echo "PSHeader exists. Pulling latest changes..."
            cd $THEOS/include/PSHeader
            git pull
          else
            echo "PSHeader does not exist. Cloning repository..."
            cd $THEOS/include
            git clone --quiet --depth=1 https://github.com/PoomSmart/PSHeader.git
          fi
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Clone YouPiP
        if: ${{ inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YouPiP.git

      - name: Clone YTUHD
        if: ${{ inputs.enable_ytuhd }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/Tonwalter888/YTUHD.git
          
      - name: Clone Return-YouTube-Dislikes
        if: ${{ inputs.enable_ryd }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/Return-YouTube-Dislikes.git
 
      - name: Clone YouGroupSettings
        if: ${{ inputs.enable_yougroupsettings }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/fosterbarnes/YouGroupSettings.git

      - name: Clone YouQuality
        if: ${{ inputs.enable_yq }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YouQuality.git

      - name: Clone YTVideoOverlay
        if: ${{ inputs.enable_yq || inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YTVideoOverlay.git

      - name: Clone YTABConfig
        if: ${{ inputs.enable_ytabconfig }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YTABConfig.git

      - name: Clone YTweaks
        if: ${{ inputs.enable_ytweaks }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/fosterbarnes/YTweaks.git

      - name: Clone YTIcons
        if: ${{ inputs.enable_yticons }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 https://github.com/PoomSmart/YTIcons.git

      - name: Clone DontEatMyContent
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}
          git clone --quiet --depth=1 --recurse-submodules https://github.com/therealFoxster/DontEatMyContent.git

      - name: Build YouPiP
        if: ${{ inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}/YouPiP
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/youpip.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YTUHD
        if: ${{ inputs.enable_ytuhd }}
        run: |
          cd ${{ github.workspace }}/YTUHD
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ytuhd.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build Return-YouTube-Dislikes
        if: ${{ inputs.enable_ryd }}
        run: |
          cd ${{ github.workspace }}/Return-YouTube-Dislikes
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ryd.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YouGroupSettings
        if: ${{ inputs.enable_yougroupsettings }}
        run: |
          cd ${{ github.workspace }}/YouGroupSettings
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ygs.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YouQuality
        if: ${{ inputs.enable_yq }}
        run: |
          cd ${{ github.workspace }}/YouQuality
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/yq.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YTVideoOverlay
        if: ${{ inputs.enable_yq || inputs.enable_youpip }}
        run: |
          cd ${{ github.workspace }}/YTVideoOverlay
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ytvo.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YTABConfig
        if: ${{ inputs.enable_ytabconfig }}
        run: |
          cd ${{ github.workspace }}/YTABConfig
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/yabc.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YTweaks
        if: ${{ inputs.enable_ytweaks }}
        run: |
          cd ${{ github.workspace }}/YTweaks
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/ytwks.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build YTIcons
        if: ${{ inputs.enable_yticons }}
        run: |
          cd ${{ github.workspace }}/YTIcons
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/yticons.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Build DontEatMyContent
        if: ${{ inputs.enable_demc }}
        run: |
          cd ${{ github.workspace }}/DontEatMyContent
          make clean package DEBUG=0 FINALPACKAGE=1
          mv packages/*.deb ${{ github.workspace }}/demc.deb
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Collect DEB files
        run: |
          # DEB file name mappings:
          # ytplus.deb -> YTLite (YouTube Plus)
          # youpip.deb -> YouPiP
          # ytuhd.deb -> YTUHD
          # ryd.deb -> Return YouTube Dislikes
          # ygs.deb -> YouGroupSettings
          # yq.deb -> YouQuality
          # ytvo.deb -> YTVideoOverlay
          # yabc.deb -> YTABConfig
          # ytwks.deb -> YTweaks
          # yticons.deb -> YTIcons
          # demc.deb -> DontEatMyContent
          
          cd ${{ github.workspace }}
          mkdir -p debs
          for f in *.deb; do
            if [ -f "$f" ]; then
              cp "$f" debs/
              echo "Collected: $f"
            fi
          done
          echo "Total DEB files: $(ls -1 debs/*.deb 2>/dev/null | wc -l | tr -d ' ')"

      - name: Rename DEB files
        run: |
          cd ${{ github.workspace }}/debs
          [ -f "ytplus.deb" ] && mv "ytplus.deb" "YTLite.deb"
          [ -f "youpip.deb" ] && mv "youpip.deb" "YouPiP.deb"
          [ -f "ytuhd.deb" ] && mv "ytuhd.deb" "YTUHD.deb"
          [ -f "ryd.deb" ] && mv "ryd.deb" "Return-YouTube-Dislikes.deb"
          [ -f "ygs.deb" ] && mv "ygs.deb" "YouGroupSettings.deb"
          [ -f "yq.deb" ] && mv "yq.deb" "YouQuality.deb"
          [ -f "ytvo.deb" ] && mv "ytvo.deb" "YTVideoOverlay.deb"
          [ -f "yabc.deb" ] && mv "yabc.deb" "YTABConfig.deb"
          [ -f "ytwks.deb" ] && mv "ytwks.deb" "YTweaks.deb"
          [ -f "yticons.deb" ] && mv "yticons.deb" "YTIcons.deb"
          [ -f "demc.deb" ] && mv "demc.deb" "DontEatMyContent.deb"
          echo "Renamed DEB files to their full names"

      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v2.0.1
        with:
          tag_name: debs-${{ github.run_number }}
          name: YouTube Plus DEBs v${{ inputs.tweak_version }} (${{ github.run_number }})
          files: debs/*.deb
          draft: true

      - name: Output Release URL
        run: |
          echo "::notice::Release available at: https://github.com/${{ github.repository }}/releases"
